@import "../../App.scss";
.sidebar {
  flex: 1;
  height: calc(100vh - 50px);
  background-color: rgb(251, 251, 255);
  position: sticky;
  top: 50px;
  .sidebar_wrapper {
    padding: 20px;
    color: #555;
    .sidebar_menu {
      margin-bottom: 10px;
      .sidebar_title {
        font-size: 13px;
        color: rgb(187, 186, 186);
      }
      .sidebar_List {
        list-style: none;
        padding: 5px;
        .sidebar_list_item {
          padding: 5px;
          cursor: pointer;
          display: flex;
          align-items: center;
          border-radius: 10px;
          i{
          margin-right: 5px;
          }
          &:hover{
            background-color: rgb(240, 240, 255);
          }
        }
      }
    }
  }
}

.active{
  background-color: rgb(240, 240, 255);
}